<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ target.name }} | BrighterCV</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <style>
{% if not editable %}
a.cv-edit {
    display: none;
}
{% endif %}
    </style>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.md5.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/brightercv.js"></script>
    <script type="text/javascript">

function add_item_callback(target_id, data) {
    var html = '<div id="entry-ID" url="/entries/update" class="cv-entry">'
             + '<h5><span class="cv-edit-input-1"></span> <a href="javascript:prepare_editing(\'IIT\', \'entry-ID\', \'ID\')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete(\'entry-ID\', \'/entries/delete\', {\'id\':\'ID\'})" class="cv-edit"><i class="icon-trash"></i></a></h5>'
             + '<p class="cv-subtitle"><span class="cv-edit-input-2"></span></p>'
             + '<p><span class="cv-edit-input-3"></span></p></div>';
    html = html.replace(/ID/g, data.id);
    $('#' + target_id).before(html);
    $('#entry-' + data.id + ' .cv-edit-input-1').text(data.title);
    $('#entry-' + data.id + ' .cv-edit-input-2').text(data.subtitle);
    $('#entry-' + data.id + ' .cv-edit-input-3').text(data.description);
}

function add_about_item_callback(target_id, data) {
    var html = '<li id="entry-ID" url="/entries/update">'
             + '<div class="cv-label"><span class="cv-edit-input-1"></span></div>'
             + '<div class="cv-value"><span class="cv-edit-input-2"></span> <a href="javascript:prepare_editing(\'DD\', \'entry-ID\', \'ID\')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete(\'entry-ID\', \'/entries/delete\', {\'id\':\'ID\'})" class="cv-edit"><i class="icon-trash"></i></a></div></li>';
    html = html.replace(/ID/g, data.id);
    $('#' + target_id).before(html);
    $('#entry-' + data.id + ' .cv-edit-input-1').text(data.title);
    $('#entry-' + data.id + ' .cv-edit-input-2').text(data.description);
}

function prepare_delete(dom_id, url, data) {
    var dom_button = $('#modal-delete .btn-danger');
    var dom_loading = $('#modal-delete .cv-loading');

    dom_loading.hide();
    dom_button.removeAttr('disabled');
    dom_button.unbind('click');
    dom_button.click(function() {
        dom_button.attr('disabled', 'disabled');
        do_delete(dom_id, url, data);
    });
    $('#modal-delete').modal('show');
}

function do_delete(dom_id, url, data) {
    $.postJSON(url, data, function(result) {
        $('#modal-delete').modal('hide');
        var dom = $('#' + dom_id);
        dom.addClass('cv-deleting').delay(600).slideUp(500, function() {
            dom.remove();
        });
    }, function(err) {
        var dom_loading = $('#modal-delete .cv-loading');
        dom_loading.html('<span class="cv-error">' + err.message + '</span>');
        dom_loading.show();
    });
}

function prepare_add_section() {
    var dom_button = $('#modal-add-section .btn-primary');
    var dom_select = $('#modal-add-section .cv-select-sections');
    var dom_loading = $('#modal-add-section .cv-loading');

    dom_button.attr('disabled', 'disabled');
    dom_select.hide();
    dom_loading.html('Loading...').show();
    $('#modal-add-section').modal('show');
    $.postJSON('/sections/add/list', {}, function(list) {
        var opts = [];
        var selected = true;
        $.each(list, function(index, ele) {
            opts.push('<option value=\"' + ele[0] + '\"' + (selected ? ' selected=\"selected\"' : '') + '>' + ele[1] + '</option>');
            selected = false;
        });
        dom_loading.hide();
        dom_select.html(opts.join('')).show();
        if (list.length > 0) {
            dom_button.removeAttr('disabled');
        }
    }, function(err) {
        dom_loading.html('<span class="cv-error">' + err.message + '</span>');
    });
}

function do_add_section() {
    var dom_button = $('#modal-add-section .btn-primary');
    var dom_select = $('#modal-add-section .cv-select-sections');
    var dom_loading = $('#modal-add-section .cv-loading');
    
    dom_button.attr('disabled', 'disabled');
    $.postJSON('/sections/add', { 'kind': dom_select.val() }, function() {
        location.reload();
    }, function(err) {
        dom_loading.html('<span class="cv-error">' + err.message + '</span>').show();
    }, function() {
        dom_button.removeAttr('disabled');
    });
}

function enable_all() {
    for (var i=0; i<arguments.length; i++) {
        var a = arguments[i];
        if (a) {
            a.removeAttr('disabled');
        }
    }
}

function disable_all() {
    for (var i=0; i<arguments.length; i++) {
        var a = arguments[i];
        if (a) {
            a.attr('disabled', 'disabled');
        }
    }
}

function enable_edit_button(enabled) {
    if (enabled) {
        $('a.cv-edit').show();
    }
    else {
        $('a.cv-edit').hide();
    }
}

var g_next_id = 0;

function get_next_id() {
    g_next_id ++;
    return 'CV-edit-' + g_next_id;
}

function prepare_editing(type, target_dom_id, id) {
    var next_id = get_next_id();
    enable_edit_button(false);
    var templ_html = $('#' + type + '-editing-template').html();
    var target_dom = $('#' + target_dom_id);
    var url = target_dom.attr('url');
    target_dom.after(templ_html);
    var editing_dom = target_dom.next();
    editing_dom.attr('id', next_id);
    if (type=='DD') {
        // bind dropdown menu:
        $('#' + next_id + ' ul.dropdown-menu li a').click(function() { $('#' + next_id + ' .cv-editing-input-1').val($(this).text()); });
    }
    target_dom.hide();
    // prepare edit:
    var value_doms = [];
    var edit_doms = [];
    for (var i = 1; i <= type.length; i++) {
        var v_dom = $('#' + target_dom_id + ' .cv-edit-input-' + i);
        var e_dom = $('#' + next_id + ' .cv-editing-input-' + i);
        e_dom.val(v_dom.text());
        value_doms.push(v_dom);
        edit_doms.push(e_dom);
    }

    var btn_ok = $('#' + next_id + ' button.btn-primary');
    var btn_cancel = $('#' + next_id + ' button.btn-cancel');
    var error_dom = $('#' + next_id + ' label.cv-error');

    btn_ok.click(function() {
        error_dom.hide();
        disable_all(btn_ok, btn_cancel);
        var data = { 'id': id };
        var values = [];
        $.each(edit_doms, function(index, ele) {
            var v = ele.val();
            data[ele.attr('name')] = v;
            values.push(v);
        });
        $.postJSON(url, data, function(result) {
            // update value:
            for (var i = 0; i < values.length; i ++) {
                value_doms[i].text(values[i]);
            }
            // update h3:
            if (target_dom.attr('ref')) {
                $('#span-' + target_dom.attr('ref')).text(values[0]);
            }
            // callback:
            if (target_dom.attr('callback')) {
                var fn = eval(target_dom.attr('callback'));
                fn(target_dom_id, result);
            }
            btn_cancel.trigger('click');
        }, function(err) {
            error_dom.text(err.message);
            error_dom.show();
        }, function() {
            enable_all(btn_ok, btn_cancel);
        });
    });
    btn_cancel.click(function() {
        $('#' + next_id).remove();
        target_dom.show();
        enable_edit_button(true);
    });
}
    </script>
</head>

<body data-spy="scroll" data-target=".affix">
    <!-- modal: add section -->
    <div id="modal-add-section" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Add Section</h3>
        </div>
        <div class="modal-body">
            <p class="cv-loading">Loading...</p>
            <select class="cv-select-sections"></select>
        </div>
        <div class="modal-footer">
            <button onclick="do_add_section()" class="btn btn-primary">Add</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <!-- // modal -->
    <!-- modal: delete -->
    <div id="modal-delete" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Confirm Deletion</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this?</p>
            <p class="cv-loading">Loading...</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger">Delete</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <!-- // modal -->
    <div class="container">
        <div class="row">
            <div class="span2">
                <!-- affix list -->
                <div id="cv-affix" class="affix">
                    <ul id="cv-affix-list" class="nav nav-list">
                        <li class="nav-header">Brighter CV</li>
{% for section in cv.sections %}
                        <li><a href="#{{ section.kind }}"><span id="span-{{ section.kind }}">{{ section.title }}</span> <i class="icon-cv-{{ section.kind }}"></i></a></li>
{% endfor %}
                        <li class="divider"></li>
{% if editable %}
                        <li><a href="javascript:prepare_add_section()">Add <i class="icon-plus"></i></a></li>
{% endif %}
                        <li><a href="/print/{{ target.id }}">Print <i class="icon-print"></i></a></li>
                        <li><a href="/">Home <i class="icon-home"></i></a></li>
{% if user %}
    {% if editable %}
                        <li><a href="/auth/signout">Sign Out <i class="icon-off"></i></a></li>
    {% else %}
                        <li><a href="/cv/{{ user.id }}">My Resume <i class="icon-user"></i></a></li>
    {% endif %}
{% endif %}
                    </ul>
                </div>
                <!-- // affix list -->
            </div>
            <div class="span10">
                <div id="body">
                    <!-- I edit -->
                    <div id="I-editing-template" class="hide">
                        <div class="cv-editing">
                            <label class="cv-error hide">Network error.</label>
                            <input type="text" name="title" class="cv-editing-input-1" value="" />
                            <button class="btn btn-primary">Save</button> <button class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                    <!-- // I edit -->
                    <!-- IT edit -->
                    <div id="IT-editing-template" class="hide">
                        <div class="cv-editing">
                            <label class="cv-error hide">Network error.</label>
                            <input type="text" name="title" class="cv-editing-input-1" value="" />
                            <textarea name="description" class="cv-editing-input-2" rows="5"></textarea>
                            <button class="btn btn-primary">Save</button> <button class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                    <!-- // IT edit -->
                    <!-- IIT edit -->
                    <div id="IIT-editing-template" class="hide">
                        <div class="cv-editing">
                            <label class="cv-error hide">Network error.</label>
                            <input type="text" name="title" class="cv-editing-input-1" value="" />
                            <input type="text" name="subtitle" class="cv-editing-input-2" value="" />
                            <textarea name="description" class="cv-editing-input-3" rows="5"></textarea>
                            <button class="btn btn-primary">Save</button> <button class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                    <!-- // IIT edit -->
                    <h1 id="resume_title" url="/resumes/update"><span class="cv-edit-input-1">{{ cv.title|e }}</span> <a href="javascript:prepare_editing('I', 'resume_title', '{{ cv.id }}')" class="cv-edit"><i class="icon-pencil"></i></a></h1>
                    <hr />

{% for section in cv.sections %}
    {% if section.style=='li' %}
                    <section id="{{ section.kind }}">
                        <h3 id="h3-{{ section.kind }}" ref="{{ section.kind }}" url="/sections/update" class="cv-icon-{{ section.kind }}"><span class="cv-edit-input-1">{{ section.title|e }}</span>  <a href="javascript:prepare_editing('I', 'h3-{{ section.kind }}', '{{ section.id }}')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete('{{ section.kind }}', '/sections/delete', {'id':'{{ section.id }}'})" class="cv-edit"><i class="icon-trash"></i></a></h3>
                        <div class="row">
                            <div class="cv-detail-left">
                                <div class="cv-detail-img">
                                    <div style="background-image: url(http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&size=200)"><a href="#" class="cv-edit"><i class="icon-upload"></i></a></div>
                                </div>
                            </div>
                            <div class="cv-detail-right">
                                <ul>
                                    <div id="DD-editing-template" class="hide">
                                        <li>
                                        <div class="cv-editing-detail">
                                            <label class="cv-error hide">Network error.</label>
                                            <form name="cv-form" class="form-inline" onsubmit="return false;">
                                                <div class="input-prepend">
                                                    <div class="btn-group">
                                                        <button class="btn dropdown-toggle" data-toggle="dropdown" style="width: 38px;"><i class="icon-chevron-down"></i></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="javascript:void(0)">Name</a></li>
                                                            <li><a href="javascript:void(0)">Birth</a></li>
                                                            <li><a href="javascript:void(0)">Location</a></li>
                                                            <li><a href="javascript:void(0)">Address</a></li>
                                                            <li><a href="javascript:void(0)">Website</a></li>
                                                            <li><a href="javascript:void(0)">Email</a></li>
                                                            <li><a href="javascript:void(0)">Blog</a></li>
                                                            <li><a href="javascript:void(0)">Twitter</a></li>
                                                            <li><a href="javascript:void(0)">Facebook</a></li>
                                                        </ul>
                                                    </div>
                                                    <input name="title" type="text" style="width:120px;" class="cv-input-detail-label cv-editing-input-1" value="" />
                                                </div>
                                                <input name="description" type="text" style="width:200px;" class="cv-input-detail-value cv-editing-input-2" value="" />
                                                <button class="btn btn-primary cv-detail-btn-ok"><i class="icon-ok icon-white"></i></button>
                                                <button class="btn btn-cancel cv-detail-btn-cancel"><i class="icon-remove"></i></button>
                                            </form>
                                        </div>
                                        </li>
                                    </div>
                                {% for entry in section.entries %}
                                    <li id="entry-{{ entry.id }}" url="/entries/update">
                                        <div class="cv-label"><span class="cv-edit-input-1">{{ entry.title|e }}</span></div>
                                        <div class="cv-value"><span class="cv-edit-input-2">{{ entry.description|e }}</span> <a href="javascript:prepare_editing('DD', 'entry-{{ entry.id }}', '{{ entry.id }}')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete('entry-{{ entry.id }}', '/entries/delete', {'id':'{{ entry.id }}'})" class="cv-edit"><i class="icon-trash"></i></a></div>
                                    </li>
                                {% endfor %}
                                    <li id="about-entry-add" url="/entries/add" callback="add_about_item_callback">
                                        <div class="cv-label"></div>
                                        <div class="cv-value"><a href="javascript:prepare_editing('DD', 'about-entry-add', '{{ section.id }}')" class="cv-edit"><i class="icon-plus"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
    {% elif section.style=='text' %}
                    <section id="{{ section.kind }}">
                        <div id="h3-{{ section.kind }}" ref="{{ section.kind }}" url="/sections/update">
                            <h3 class="cv-icon-{{ section.kind }}"><span class="cv-edit-input-1">{{ section.title|e }}</span> <a href="javascript:prepare_editing('IT', 'h3-{{ section.kind }}', '{{ section.id }}')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete('{{ section.kind }}', '/sections/delete', {'id':'{{ section.id }}'})" class="cv-edit"><i class="icon-trash"></i></a></h3>
                            <div id="desc-{{ section.kind }}">
                                <p class="cv-edit-input-2">{{ section.description|e }}</p>
                            </div>
                        </div>
                    </section>
    {% else %}
                    <section id="{{ section.kind }}">
                        <h3 id="h3-{{ section.kind }}" ref="{{ section.kind }}" url="/sections/update" class="cv-icon-{{ section.kind }}"><span class="cv-edit-input-1">{{ section.title|e }}</span> <a href="javascript:prepare_editing('I', 'h3-{{ section.kind }}', '{{ section.id }}')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete('{{ section.kind }}', '/sections/delete', {'id':'{{ section.id }}'})" class="cv-edit"><i class="icon-trash"></i></a></h3>
            {% for entry in section.entries %}
                        <div id="entry-{{ entry.id }}" url="/entries/update" class="cv-entry">
                            <h5><span class="cv-edit-input-1">{{ entry.title|e }}</span> <a href="javascript:prepare_editing('IIT', 'entry-{{ entry.id }}', '{{ entry.id }}')" class="cv-edit"><i class="icon-pencil"></i></a> <a href="javascript:prepare_delete('entry-{{ entry.id }}', '/entries/delete', {'id':'{{ entry.id }}'})" class="cv-edit"><i class="icon-trash"></i></a></h5>
                            <p class="cv-subtitle"><span class="cv-edit-input-2">{{ entry.subtitle|e }}</span></p>
                            <p><span class="cv-edit-input-3">{{ entry.description|e }}</span></p>
                        </div>
            {% endfor %}
                        <div id="add-{{ section.kind }}" url="/entries/add" callback="add_item_callback">
                            <a href="javascript:prepare_editing('IIT', 'add-{{ section.kind }}', '{{ section.id }}')" class="cv-edit"><i class="icon-plus"></i></a>
                        </div>
                    </section>
    {% endif %}
{% endfor %}
                    <div id="footer">
                        <div>Build brighter CV for brighter job, for brighter day. <a href="/">www.brightercv.com</a></div>
                        <div>Find author on LinkedIn: <a target="_blank" href="http://www.linkedin.com/in/liaoxuefeng">http://www.linkedin.com/in/liaoxuefeng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
